# <b><u>Lending Club Use-Case</u></b>

## <u> Problem Statement</u>

<p><u>Introduction:</u>You work for a consumer finance company which specialises in lending various types of loans to urban customers. When the company receives a loan application, the company has to make a decision for loan approval based on the applicant’s profile.
    This company is the largest online loan marketplace, facilitating personal loans, business loans, and financing of medical procedures.
    
</p>

Lending loans to ‘risky’ applicants is the largest source of financial loss (called credit loss). The credit loss is the amount of money lost by the lender when the borrower refuses to pay or runs away with the money owed. In other words, borrowers who default cause the largest amount of loss to the lenders. In this case, the customers labelled as 'charged-off' are the 'defaulters'.
    If one is able to identify these risky loan applicants, then such loans can be reduced thereby cutting down the amount of credit loss. Identification of such applicants using EDA is the aim of this case study.

##### Use-Case Presenters:
    1. Shweta Rao: Group Facilator
    2. Pragadeesh S: Group Memeber

In [11]:
#imports variable
import pandas as pd
import numpy as nm
import matplotlib.pyplot as plt

In [65]:
#reading the csv
data_val = pd.read_csv('/Users/sameerhegde/Documents/PG - Material/Assignment/Solution/loan.csv',low_memory=False)

In [66]:
data_val

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
load_dataframe = pd.DataFrame(data_val)

In [68]:
print(load_dataframe)

            id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0      1077501    1296599       5000         5000           4975.0
1      1077430    1314167       2500         2500           2500.0
2      1077175    1313524       2400         2400           2400.0
3      1076863    1277178      10000        10000          10000.0
4      1075358    1311748       3000         3000           3000.0
...        ...        ...        ...          ...              ...
39712    92187      92174       2500         2500           1075.0
39713    90665      90607       8500         8500            875.0
39714    90395      90390       5000         5000           1325.0
39715    90376      89243       5000         5000            650.0
39716    87023      86999       7500         7500            800.0

             term int_rate  installment grade sub_grade  ...  \
0       36 months   10.65%       162.87     B        B2  ...
1       60 months   15.27%        59.83     C        C4  ...
2       36 months   15.96%        84.33     C        C5  ...
3       36 months   13.49%       339.31     C        C1  ...
4       60 months   12.69%        67.79     B        B5  ...
...           ...      ...          ...   ...       ...  ...
39712   36 months    8.07%        78.42     A        A4  ...
39713   36 months   10.28%       275.38     C        C1  ...
39714   36 months    8.07%       156.84     A        A4  ...
39715   36 months    7.43%       155.38     A        A2  ...
39716   36 months   13.75%       255.43     E        E2  ...

      num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq  percent_bc_gt_75  \
0                    NaN                NaN            NaN               NaN
1                    NaN                NaN            NaN               NaN
2                    NaN                NaN            NaN               NaN
3                    NaN                NaN            NaN               NaN
4                    NaN                NaN            NaN               NaN
...                  ...                ...            ...               ...
39712                NaN                NaN            NaN               NaN
39713                NaN                NaN            NaN               NaN
39714                NaN                NaN            NaN               NaN
39715                NaN                NaN            NaN               NaN
39716                NaN                NaN            NaN               NaN

      pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort  \
0                      0.0       0.0             NaN               NaN
1                      0.0       0.0             NaN               NaN
2                      0.0       0.0             NaN               NaN
3                      0.0       0.0             NaN               NaN
4                      0.0       0.0             NaN               NaN
...                    ...       ...             ...               ...
39712                  NaN       NaN             NaN               NaN
39713                  NaN       NaN             NaN               NaN
39714                  NaN       NaN             NaN               NaN
39715                  NaN       NaN             NaN               NaN
39716                  NaN       NaN             NaN               NaN

      total_bc_limit total_il_high_credit_limit
0                NaN                        NaN
1                NaN                        NaN
2                NaN                        NaN
3                NaN                        NaN
4                NaN                        NaN
...              ...                        ...
39712            NaN                        NaN
39713            NaN                        NaN
39714            NaN                        NaN
39715            NaN                        NaN
39716            NaN                        NaN

[39717 rows x 111 columns]

In [69]:
# identifying the shape of the dataset
data_val.shape

(39717, 111)

In [70]:
#add row header file just to be relevant with row full name
data_excel = pd.read_excel('/Users/sameerhegde/Documents/PG - Material/Assignment/Data_Dictionary.xlsx')
print(data_excel)

               LoanStatNew                                        Description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
112    verification_status  Indicates if income was verified by LC, not ve...
113  verified_status_joint  Indicates if the co-borrowers' joint income wa...
114               zip_code  The first 3 numbers of the zip code provided b...
115                    NaN                                                NaN
116                    NaN  * Employer Title replaces Employer Name for al...

[117 rows x 2 columns]

In [71]:
#finding the null/Empty values --Either to remove the data or analyse to add something instead of null
#here rows: 39717
#here columns: 111

#Row 
print('Number of empty rows')
row_null = data_val.isnull().all(axis=1).sum()
print(row_null)

Number of empty rows
0

In [72]:
#columns
print('Number of empty columns')
column_null = data_val.isnull().all(axis=0).sum()
print(column_null)

Number of empty columns
54

In [73]:
#Columns with null value
df_null = data_val.isnull().sum()

In [74]:
df_null

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [75]:
# Here you see some columns has no null value
data_val.isnull().sum().loc[data_val.isnull().sum()>0]

emp_title                      2459
emp_length                     1075
desc                          12940
title                            11
mths_since_last_delinq        25682
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 68, dtype: int64

In [76]:
#Some Column has null value equal to the number of rows i.e all value is null NaN value
main_df=data_val.dropna(axis=1,how='all')

In [39]:
main_df.isnull().sum()
# Found more columns with more the 50% NaN value so eliminating the same

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12940
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
mths_since_last_record        36931
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
next_pymnt_d                  38577
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

In [77]:
#remove Column with null value more than 50% 
perc = 50.0
min_count =  int(((100-perc)/100)*data_val.shape[0] + 1)
mod_df = data_val.dropna( axis=1, 
                thresh=min_count)
print("Modified Dataframe : ")
print(mod_df.info())

Modified Dataframe :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 54 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26777 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  open_acc                    39717 non-null  int64
 29  pub_rec                     39717 non-null  int64
 30  revol_bal                   39717 non-null  int64
 31  revol_util                  39667 non-null  object
 32  total_acc                   39717 non-null  int64
 33  initial_list_status         39717 non-null  object
 34  out_prncp                   39717 non-null  float64
 35  out_prncp_inv               39717 non-null  float64
 36  total_pymnt                 39717 non-null  float64
 37  total_pymnt_inv             39717 non-null  float64
 38  total_rec_prncp             39717 non-null  float64
 39  total_rec_int               39717 non-null  float64
 40  total_rec_late_fee          39717 non-null  float64
 41  recoveries                  39717 non-null  float64
 42  collection_recovery_fee     39717 non-null  float64
 43  last_pymnt_d                39646 non-null  object
 44  last_pymnt_amnt             39717 non-null  float64
 45  last_credit_pull_d          39715 non-null  object
 46  collections_12_mths_ex_med  39661 non-null  float64
 47  policy_code                 39717 non-null  int64
 48  application_type            39717 non-null  object
 49  acc_now_delinq              39717 non-null  int64
 50  chargeoff_within_12_mths    39661 non-null  float64
 51  delinq_amnt                 39717 non-null  int64
 52  pub_rec_bankruptcies        39020 non-null  float64
 53  tax_liens                   39678 non-null  float64
dtypes: float64(18), int64(13), object(23)
memory usage: 16.4+ MB
None

In [78]:
# check number of unique values in each column
mod_df.nunique().sort_values()

tax_liens                         1
delinq_amnt                       1
chargeoff_within_12_mths          1
acc_now_delinq                    1
application_type                  1
policy_code                       1
initial_list_status               1
collections_12_mths_ex_med        1
pymnt_plan                        1
term                              2
pub_rec_bankruptcies              3
verification_status               3
loan_status                       3
pub_rec                           5
home_ownership                    5
grade                             7
inq_last_6mths                    9
emp_length                       11
delinq_2yrs                      11
purpose                          14
sub_grade                        35
open_acc                         40
addr_state                       50
issue_d                          55
total_acc                        82
last_pymnt_d                    101
last_credit_pull_d              106
int_rate                        371
earliest_cr_line                526
zip_code                        823
loan_amnt                       885
funded_amnt                    1041
revol_util                     1089
out_prncp                      1137
out_prncp_inv                  1138
total_rec_late_fee             1356
collection_recovery_fee        2616
dti                            2868
recoveries                     4040
annual_inc                     5318
total_rec_prncp                7976
funded_amnt_inv                8205
installment                   15383
title                         19615
revol_bal                     21711
desc                          26527
emp_title                     28820
last_pymnt_amnt               34930
total_rec_int                 35148
total_pymnt_inv               37518
total_pymnt                   37850
url                           39717
member_id                     39717
id                            39717
dtype: int64

In [79]:
#get values for each status in 'loan_status' column
mod_df['loan_status'].value_counts()

Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64

In [80]:
#value percentage of each status in 'loan_status'
percentage_val = (mod_df.loan_status.value_counts()*100)/len(mod_df)
percentage_val

Fully Paid     82.961956
Charged Off    14.167737
Current         2.870307
Name: loan_status, dtype: float64

In [81]:
#remove the status 'Current' 
#removing Current loan status as this is not required for analysing defaulters.
df = mod_df[mod_df['loan_status']!= 'Current']

In [82]:
df.shape

(38577, 54)

Droping few of the irrelavant column as below
<ul>
<li>'id' and 'member_id' is just an identification number which has no value for analysis.</li>
<li>'url' is a link that has no value for analysis.</li>
<li>'desc' is the description text which is not useful for analysis.</li>
</ul>

In [83]:
cols_to_drop = ['member_id', 
               'id', 
               'url',
               'desc']

In [84]:

df = df.drop(cols_to_drop, axis=1)

No Variance column deletion as values are 0:
<ul>
<li>'pymnt_plan' as the values are n</li>
<li>'zip_code' contains 'xx'</li>
<li>'pub_rec' as all values are 0</li>
<li> 'policy_code' as all the values are 0</li>
<li>'funded_amnt' and 'funded_amnt_inv' has values equivalant to 'loan_amnt'.</li>
<li>'emp_title' and 'title' are names which is also identifier that has no value for analysing patterns for defaulters.</li>
<li>'acc_now_delinq' and 'delinq_amnt' has all values as 0.</li>
<li>'application_type' has all value as 'INDIVIDUAL'</li>

<li>'pymnt_plan' has all values as 'n'.</li>

<li>'initial_list_status' has all values as 'f'</li>
<li>'chargeoff_within_12_mths', 'tax_liens', and 'collections_12_mths_ex_med' has values 0 </li>    
</ul>

In [85]:
cols_to_drop = ['pymnt_plan', 
               'zip_code', 
               'pub_rec',
               'policy_code',
                'emp_title',
                'title',
                'acc_now_delinq',
                'collections_12_mths_ex_med',
                'delinq_amnt',
                'application_type',
                'pymnt_plan',
                'tax_liens',
                'chargeoff_within_12_mths',
                'initial_list_status']

In [86]:
df = df.drop(cols_to_drop, axis=1)

In [87]:
df.shape

(38577, 37)

In [88]:
#check Null value after removing few columns
df.isnull().sum().loc[df.isnull().sum()>0]

emp_length              1033
revol_util                50
last_pymnt_d              71
last_credit_pull_d         2
pub_rec_bankruptcies     697
dtype: int64

In [89]:
#Data cleaning
#Remove % for 'revol_util' and 'int_rate', for calculation
df['int_rate'] = df['int_rate'].str.rstrip('%')
df['revol_util'] = df['revol_util'].str.rstrip('%')

In [93]:
#Remove months from 'term' and covert it into int type
df['term'] = df['term'].str.replace(r' months', '').astype(nm.int64)

In [94]:
# Removing 'Years' and extracting only numbers from emp_length
df['emp_length'][df['emp_length'] == '< 1 year'] = '0.5'
df['emp_length']=df.emp_length.str.extract('(\d+\.\d+|\d+)').astype(nm.float64)

/var/folders/d8/24f_31md6g17mlnfcfhvcs5h0000gn/T/ipykernel_60820/598939000.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['emp_length'][df['emp_length'] == '< 1 year'] = '0.5'

In [95]:
with pd.option_context('display.max_rows', 5, 'display.max_columns', None):
    display(df)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
0,5000,5000,4975.0,36,10.65,162.87,B,B2,10.0,RENT,24000.0,Verified,Dec-11,Fully Paid,credit_card,AZ,27.65,0,Jan-85,1,3,13648,83.70,9,0.0,0.0,5863.155187,5833.84,5000.00,863.16,0.0,0.00,0.00,Jan-15,171.62,May-16,0.0
1,2500,2500,2500.0,60,15.27,59.83,C,C4,0.5,RENT,30000.0,Source Verified,Dec-11,Charged Off,car,GA,1.00,0,Apr-99,5,3,1687,9.40,4,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.0,117.08,1.11,Apr-13,119.66,Sep-13,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39715,5000,5000,650.0,36,7.43,155.38,A,A2,0.5,MORTGAGE,200000.0,Not Verified,Jul-07,Fully Paid,other,MD,3.72,0,Nov-88,0,17,85607,0.70,26,0.0,0.0,5174.198551,672.66,5000.00,174.20,0.0,0.00,0.00,Jan-08,0.00,Jun-07,NaN
39716,7500,7500,800.0,36,13.75,255.43,E,E2,0.5,OWN,22000.0,Not Verified,Jun-07,Fully Paid,debt_consolidation,MA,14.29,1,Oct-03,0,7,4175,51.50,8,0.0,0.0,9195.263334,980.83,7500.00,1695.26,0.0,0.00,0.00,Jun-10,256.59,Jun-10,NaN

Extracting month and year as separate columns for columns:
<li> issue_d </li>
<li> earliest_cr_line </li>
<li> last_pymnt_d </li>
<li> last_credit_pull_d </li>

In [96]:
# Converting to datetime formate
df['issue_d'] = pd.to_datetime(df['issue_d'], format='%b-%y')
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], format='%b-%y')
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], format='%b-%y')
df['last_credit_pull_d'] = pd.to_datetime(df['last_credit_pull_d'], format='%b-%y')

In [97]:
# separating month and year for date columns
df['issue_d_month'] = df['issue_d'].dt.month
df['issue_d_year'] = df['issue_d'].dt.year
df['earliest_cr_line_month'] = df['earliest_cr_line'].dt.month
df['earliest_cr_line_year'] = df['earliest_cr_line'].dt.year
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year
df['earliest_cr_line_month'] = df['last_credit_pull_d'].dt.month
df['earliest_cr_line_year'] = df['last_credit_pull_d'].dt.year

In [98]:
# dropping original date columns
df = df.drop(['issue_d', 'last_credit_pull_d','last_pymnt_d','earliest_cr_line'], axis = 1)

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38577 entries, 0 to 39716
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                38577 non-null  int64
 1   funded_amnt              38577 non-null  int64
 2   funded_amnt_inv          38577 non-null  float64
 3   term                     38577 non-null  int64
 4   int_rate                 38577 non-null  object
 5   installment              38577 non-null  float64
 6   grade                    38577 non-null  object
 7   sub_grade                38577 non-null  object
 8   emp_length               37544 non-null  float64
 9   home_ownership           38577 non-null  object
 10  annual_inc               38577 non-null  float64
 11  verification_status      38577 non-null  object
 12  loan_status              38577 non-null  object
 13  purpose                  38577 non-null  object
 14  addr_state               38577 non-null  object
 15  dti                      38577 non-null  float64
 16  delinq_2yrs              38577 non-null  int64
 17  inq_last_6mths           38577 non-null  int64
 18  open_acc                 38577 non-null  int64
 19  revol_bal                38577 non-null  int64
 20  revol_util               38527 non-null  object
 21  total_acc                38577 non-null  int64
 22  out_prncp                38577 non-null  float64
 23  out_prncp_inv            38577 non-null  float64
 24  total_pymnt              38577 non-null  float64
 25  total_pymnt_inv          38577 non-null  float64
 26  total_rec_prncp          38577 non-null  float64
 27  total_rec_int            38577 non-null  float64
 28  total_rec_late_fee       38577 non-null  float64
 29  recoveries               38577 non-null  float64
 30  collection_recovery_fee  38577 non-null  float64
 31  last_pymnt_amnt          38577 non-null  float64
 32  pub_rec_bankruptcies     37880 non-null  float64
 33  issue_d_month            38577 non-null  int64
 34  issue_d_year             38577 non-null  int64
 35  earliest_cr_line_month   38575 non-null  float64
 36  earliest_cr_line_year    38575 non-null  float64
 37  last_pymnt_d_month       38506 non-null  float64
 38  last_pymnt_d_year        38506 non-null  float64
dtypes: float64(20), int64(10), object(9)
memory usage: 11.8+ MB

### Exploratory Data Analysis(EDA): 
#### Descriptive statistics:
Final DataSet description as below

In [100]:
# checking descriptive stats of the dataset
df.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,term,installment,emp_length,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,recoveries,collection_recovery_fee,last_pymnt_amnt,pub_rec_bankruptcies,issue_d_month,issue_d_year,earliest_cr_line_month,earliest_cr_line_year,last_pymnt_d_month,last_pymnt_d_year
count,38577.000000,38577.000000,38577.000000,38577.000000,38577.000000,37544.000000,3.857700e+04,38577.000000,38577.000000,38577.000000,...,38577.000000,38577.000000,38577.000000,37880.000000,38577.000000,38577.000000,38575.000000,38575.000000,38506.000000,38506.000000
mean,11047.025430,10784.058506,10222.481123,41.898437,322.466318,5.001012,6.877797e+04,13.272727,0.146668,0.871737,...,98.035545,12.772728,2746.243218,0.043479,7.114757,2010.309070,5.847207,2014.234582,6.488184,2012.726848
std,7348.441646,7090.306027,7022.720644,10.333136,208.639215,3.476486,6.421868e+04,6.673044,0.492271,1.071546,...,698.650182,150.836853,4494.648131,0.204583,3.408523,0.882658,3.065789,1.793164,3.469926,1.460602
min,500.000000,500.000000,0.000000,36.000000,15.690000,0.500000,4.000000e+03,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,2007.000000,1.000000,2007.000000,1.000000,2008.000000
25%,5300.000000,5200.000000,5000.000000,36.000000,165.740000,2.000000,4.000000e+04,8.130000,0.000000,0.000000,...,0.000000,0.000000,217.420000,0.000000,4.000000,2010.000000,4.000000,2013.000000,3.000000,2012.000000
50%,9600.000000,9550.000000,8733.440000,36.000000,277.860000,4.000000,5.886800e+04,13.370000,0.000000,1.000000,...,0.000000,0.000000,568.260000,0.000000,7.000000,2011.000000,5.000000,2015.000000,6.000000,2013.000000
75%,15000.000000,15000.000000,14000.000000,36.000000,425.550000,9.000000,8.200000e+04,18.560000,0.000000,1.000000,...,0.000000,0.000000,3447.250000,0.000000,10.000000,2011.000000,8.000000,2016.000000,10.000000,2014.000000
max,35000.000000,35000.000000,35000.000000,60.000000,1305.190000,10.000000,6.000000e+06,29.990000,11.000000,8.000000,...,29623.350000,7002.190000,36115.200000,2.000000,12.000000,2011.000000,12.000000,2016.000000,12.000000,2016.000000